<% provide(:title, "Events") %>

<div class="container-fluid events-container">
  <div class="row new-event-row" >
    <div class="col-md-3 col-xs-6"><h2>Events</h2></div>
    <div class="col-md-offset-6 col-md-3 col-xs-6" style="text-align:right">
      <%= link_to "ADD NEW EVENT", new_event_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table">
      <tbody class="events-insert">
        <%= render @events %>
      </tbody>
    </table>
  </div>
</div>
