.devise-container, .new-event-container {
  padding-top: 20px;
}

.new-event-row {
  padding-bottom: 20px;
}

.general-well {
  background: white;
}

.actions {
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}