.devise-container, .new-event-container {
  padding-top: 20px;
}

.new-event-row {
  padding-top:10px;
  padding-bottom: 20px;
}

.general-well {
  background: white;
}

.actions {
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.table tbody > tr > td {
    vertical-align: top;
}

.table tbody > tr> td.event-name {
    vertical-align: middle;
}

.event-name {
  font-size: 18px;
  vertical-align: middle;
}